<!--<p>
  characters-list works!
</p>
{{characters.length}}-->
<!--Total: {{total}}-->
<!--
  Data binding is no longer automatically two way, instead a different syntax is used for each
  () data binds from html to controller
  [] data binds from controller to html
  [()] is for two way data binding
-->
<div class="pull-right">
  <label for="limit"># of Items</label>
  <select name="limit" id="limit" [(ngModel)]="search.limit" (ngModelChange)="limitChanged($event)">
    <option value="10">10</option>
    <option value="25">25</option>
    <option value="50">50</option>
  </select>
</div>
<div class="form-group">
  <label for="search">Search</label>
  <!--Digest cycle no longer runs needlessly, you have to tell it when to run which is a huge performance gain-->
  <input id="search" name="search" [(ngModel)]="search.nameStartsWith" type="text" (ngModelChange)="searchChanged($event)">
  Searching for {{search.nameStartsWith}}
</div>
<table class="table table-bordered table-striped">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th># of Comics</th>
    <th># of Stories</th>
    <th># of Events</th>
    <th># of Series</th>
    <th>Last Modified</th>
  </tr>
  <!--* is used as a prefix for structural directives like *ngFor and *ngIf-->
  <tr *ngFor="let character of characters">
    <td>{{character.id}}</td>
    <td>{{character.name}}</td>
    <td>{{character.comics.available}}</td>
    <td>{{character.stories.available}}</td>
    <td>{{character.events.available}}</td>
    <td>{{character.series.available}}</td>
    <!--
      pipes are similar in syntax to angular 1 filters, but the use case is far more specific

      Pipes are only used to format data, not to change the structure of an object. 
      In angular 1 filters were used to sort and filter data dynamically - which caused huge loss in memory 
        during the digest cycle.
      If you wish to sort or filter, you will have to do it manually leaving the main data in a pristine state
    -->
    <td>{{character.modified | date: 'MM/dd/yyyy'}}</td>
  </tr>
</table>
<pagination [totalItems]="total" [(ngModel)]="search.currentPage" [itemsPerPage]="search.limit" (pageChanged)="pageChanged($event)"></pagination>
