<!--<p>
  characters-list works!
</p>
{{characters.length}}-->

<table class="table table-bordered table-striped">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th># of Comics</th>
    <th># of Stories</th>
    <th># of Events</th>
    <th># of Series</th>
    <th>Last Modified</th>
  </tr>
  <!--* is used as a prefix for structural directives like *ngFor and *ngIf-->
  <tr *ngFor="let character of characters">
    <td>{{character.id}}</td>
    <td>{{character.name}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <!--
      pipes are similar in syntax to angular 1 filters, but the use case is far more specific

      Pipes are only used to format data, not to change the structure of an object. 
      In angular 1 filters were used to sort and filter data dynamically - which caused huge loss in memory 
        during the digest cycle.
      If you wish to sort or filter, you will have to do it manually leaving the main data in a pristine state
    -->
    <td>{{character.modified | date: 'MM/dd/yyyy'}}</td>
  </tr>
</table>